<%- include("header") -%>
<body>
<%- include("navbar") -%>
  <div>
    <img src="Lobby.png" style="height: 100vh;width:100vw;" usemap="#lobbyMap" />
    
    <map name="lobbyMap">
      <area alt="informationCenter" title="informationCenter" coords="868,519,524,229" shape="rect"
        onclick="showVideoModel()" style="cursor: pointer;">
      <area alt="schedule" title="schedule" coords="1027,242,1192,536" shape="rect" 
        onclick="showAgendaModal()" style="cursor: pointer;">
    </map>

  <script>
    
    const showVideoModel = () => {
      $("#videoModal").modal("show")
      $('video').get(0).load()
      $('video').get(0).play()
    }

    const showAgendaModal = () => {
      $("#sidebar-Agenda").modal("show")
    }

    $(document).ready(showVideoModel)

    // Dynamic image maps
    $(document).ready(() => {
        $('img[usemap]').rwdImageMaps()
    })

  </script>

</body>
</html>