
<%- include("header") -%>
<body>
<%- include("navbar") -%>

  <div class="flex items-center" style="max-width:100%;height:100vh;overflow: hidden;">
    <img src="Expo-Lobby.png" width="100%" >
  </div>

</body>
</html>
