<%- include("header") -%>
<body>
<%- include("navbar") -%>

  <div >
    <img src="Auditorium.png" style="height: 100vh;width:100%;">
    <!-- <div class="absolute" style="left:520px;top:203px;">
      <iframe width="880" height="566"
        src="https://www.youtube.com/embed/vZqoc6RHofA?autoplay=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
    </div> -->
    <!-- <div class="vercenter absolute top-2/5 right-2/5" style="width: 46%;">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe height="315" width="516" class="embed-responsive-item"
        src="https://www.youtube.com/embed/vZqoc6RHofA?autoplay=1"
        title="YouTube video player" frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
      </div>
    </div> -->
  </div>

</body>
</html>
