
<%- include("header") -%>
<body>
<%- include("navbar") -%>

  <div class="flex w-full bg-black justify-center items-center" style="max-width:100%;height:100vh;overflow: hidden;">
    <img class="h-4/5 " src="Sponser-DRDO.jpeg" >
  </div>

</body>
</html>
