<%- include("header") -%>
<body>
<%- include("navbar") -%>

  <div class="">
    <img src="Help-Desk.png" style="height: 100vh;width:100%;"  usemap="#infoCenter">

    <map name="infoCenter">
      <area alt="speakersList" title="speakersList" onclick="showSpeakerModal()" coords="375,186,375,312,555,320,554,205" shape="poly" style="cursor: pointer;">
      <area alt="conferenceHall" title="conferenceHall" href="/conferencehall" coords="593,210,758,323" shape="rect">
      <area alt="eventSponsers" title="eventSponsers" href="/eventSponsor" coords="788,208,791,318,959,320,956,186" shape="poly">
      <area alt="programSchedule" title="programSchedule" onclick="showAgendaModal()" coords="803,433,869,551" shape="rect" style="cursor: pointer;">
      <area alt="informationCenter" title="informationCenter" onclick="showVideoModel()" coords="590,425,755,540" shape="rect" style="cursor: pointer;">
    </map>
  </div>

  <script>

    const showVideoModel = () => {
      $("#videoModal").modal("show")
      $('video').get(0).load()
      $('video').get(0).play()
    }

    const showSpeakerModal = () => {
      $("#sidebar-speakers").modal("show")
    }

    const showAgendaModal = () => {
      $("#sidebar-Agenda").modal("show")
    }

    // Dynamic image maps
    $(document).ready(() => {
        $('img[usemap]').rwdImageMaps()
    })

  </script>

</body>
</html>
