<%- include("header") -%>
<body>
<%- include("navbar") -%>

  <div class="">
    <img src="Help-Desk.png" style="height: 100vh;width:100%;"  usemap="#infoCenter">

    <map name="infoCenter">
      <area shape="rect" coords="1144,700, 1230,911" data-toggle="modal" data-target="#sidebar-Agenda"
            class="pull-left" alt="" style="cursor:pointer">
      <area shape="poly" coords="848,343, 880,377, 1058,357, 1064,375" href="/conferencehall" style="cursor:pointer">
      <area shape="rect" coords="574,319, 874,349, 744,340, 744,367" data-toggle="modal" data-target="#sidebar-speakers"
            class="pull-left" alt="" style="cursor:pointer" >
      <area shape="poly" coords="1122,351, 1128,379, 1338,350, 1326,317" href="/eventSponsor" style="cursor:pointer">
    </map>
  </div>

</body>
</html>
