<%- include("header") -%>
<body>
<%- include("navbar") -%>

  <div class="flex items-center" style="max-width:100%;height:100vh;overflow: hidden;">
    <img src="Help-Desk.png" width="100%"  usemap="#infoCenter">

    <map name="infoCenter">
      <area shape="rect" coords="1137,281,1320,541" data-toggle="modal" data-target="#sidebar-Agenda" class="pull-left" alt="" style="cursor:pointer">
    </map>
  </div>

</body>
</html>
